# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7f8811c1c1df80d1b8c92a80a916ab8c9bd82117ca927121db10d2a16639be537e6ac4cbaee1f5d96806b37e0d3aca49fa06ca4251805521d493ef5024b1faef

test:
  secret_key_base: fa051f621931566145b2092fd5429e8890110ec715cbd16073a63dcc2653bd4c3fca32fecf8a7fae50be1aa9247ac2e372d2393e9f6109cf63ac50d857bc4a98

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
