// Place all the styles related to the data_emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//$base: #0f1923;
//$white: #ece8e1;
//$pink: #ff4655;
//$height: 54px;
//$transition: 0.3s ease-out all;
//
//body {
//  background: $base;
//  font-family: "Muli";
//}
//
//div .modal_email_class {
//  display: flex;
//  height: 100vh;
//  align-items: center;
//  justify-content: center;
//  flex-flow: column;
//  & a {
//    width: 100%;
//    max-width: 240px;
//    height: $height;
//    padding: 8px;
//    font-size: 0.8rem;
//    font-weight: 900;
//    color: $pink;
//    text-align: center;
//    text-transform: uppercase;
//    text-decoration: none;
//    box-shadow: 0 0 0 1px inset rgba($white, 0.3);
//    position: relative;
//    margin: 10px 0;
//    &.white:hover > p {
//      color: $white;
//    }
//    &.white > p {
//      background: $white;
//      color: $base;
//      & span.base {
//        border: 1px solid transparent;
//      }
//    }
//    &.transparent:hover > p {
//      color: $white;
//      & span.text {
//        box-shadow: 0 0 0 1px $white;
//      }
//    }
//    &.transparent > p {
//      background: $base;
//      color: $white;
//      & span.base {
//        border: 1px solid $white;
//      }
//    }
//    &:after,
//    &:before {
//      content: "";
//      width: 1px;
//      position: absolute;
//      height: 8px;
//      background: $base;
//      left: 0;
//      top: 50%;
//      transform: translateY(-50%);
//    }
//    &:before {
//      right: 0;
//      left: initial;
//    }
//    & p {
//      margin: 0;
//      height: $height;
//      line-height: $height;
//      box-sizing: border-box;
//      z-index: 1;
//      left: 0;
//      width: 100%;
//      position: relative;
//      overflow: hidden;
//      & span.base {
//        box-sizing: border-box;
//        position: absolute;
//        z-index: 2;
//        width: 100%;
//        height: 100%;
//        left: 0;
//        border: 1px solid $pink;
//        &:before {
//          content: "";
//          width: 2px;
//          height: 2px;
//          left: -1px;
//          top: -1px;
//          background: $base;
//          position: absolute;
//          transition: $transition;
//        }
//      }
//      & span.bg {
//        left: -5%;
//        position: absolute;
//        background: $pink;
//        width: 0;
//        height: 100%;
//        z-index: 3;
//        transition: $transition;
//        transform: skewX(-10deg);
//      }
//      & span.text {
//        z-index: 4;
//        width: 100%;
//        height: 100%;
//        position: absolute;
//        left: 0;
//        top: 0;
//        &:after {
//          content: "";
//          width: 4px;
//          height: 4px;
//          right: 0;
//          bottom: 0;
//          background: $base;
//          position: absolute;
//          transition: $transition;
//          z-index: 5;
//        }
//      }
//    }
//    &:hover {
//      color: $white;
//      & span.bg {
//        width: 110%;
//      }
//      & span.text:after {
//        background: $white;
//      }
//    }
//  }
//}

div .modal_email_class {
  padding-bottom: 20px;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.modal_email_class {
  .button {
    border: 1px solid green;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transform: skewX(-10deg);
    height: 50px;
    width: 200px;
    border-radius: 20px 5px 20px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font: 15px sans-serif;
    font-weight: 300;
    text-shadow: 0 0 20px #fff;
    text-transform: uppercase;
    -webkit-animation: breath2 2s 0.5s infinite alternate;
    animation: breath2 2s 0.5s infinite alternate;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .button:before {
    content: "";
    display: block;
    width: calc(100% - 22px);
    height: calc(50px - 8px);
    -webkit-animation: breath 2s infinite alternate;
    animation: breath 2s infinite alternate;
    left: 10px;
    top: 3px;
    position: absolute;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 15px 3px 15px 3px;
  }
  .button.fire {
    border-color: #ffeca8;
    background-image: linear-gradient(to bottom, rgba(255, 138, 48, 0.6), rgba(240, 96, 29, 0.6));
    box-shadow: 0 0 70px rgba(255, 138, 48, 0.6), 0 5px 20px rgba(255, 138, 48, 0.6), inset 0 1px #ffeca8, inset 0 -1px #ffeca8;
    color: #ffeca8;
  }
  .button.fire:before {
    box-shadow: inset 0 0 30px 0 #ffeca8;
  }
  .button.ice {
    border-color: #a8ecff;
    background-image: linear-gradient(to bottom, rgba(48, 138, 255, 0.5), rgba(29, 96, 240, 0.5));
    box-shadow: 0 0 70px rgba(48, 138, 255, 0.5), 0 5px 20px rgba(48, 138, 255, 0.5), inset 0 1px #ffeca8, inset 0 -1px #ffeca8;
    color: #a8ecff;
  }
  .button.ice:before {
    box-shadow: inset 0 0 30px 0 #a8ecff;
  }
  .button:hover.fire {
    box-shadow: 0 0 70px rgba(255, 138, 48, 0.8), 0 5px 20px rgba(255, 138, 48, 0.8), inset 0 1px #ffeca8, inset 0 -1px #ffeca8;
  }
  .button:hover.fire:before {
    box-shadow: inset 0 0 50px 0 #ffeca8;
  }
  .button:hover.ice {
    box-shadow: 0 0 70px rgba(48, 138, 255, 0.8), 0 5px 20px rgba(48, 138, 255, 0.8), inset 0 1px #a8ecff, inset 0 -1px #a8ecff;
  }
  .button:hover.ice:before {
    box-shadow: inset 0 0 50px 0 #a8ecff;
  }
  .button + .button {
    margin-top: 15px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  @-webkit-keyframes breath {
    0% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0.95);
    }
  }

  @keyframes breath {
    0% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0.95);
    }
  }
  @-webkit-keyframes breath2 {
    0% {
      transform: skewX(-10deg) scaleX(1);
    }
    100% {
      transform: skewX(-10deg) scaleX(0.95);
    }
  }
  @keyframes breath2 {
    0% {
      transform: skewX(-10deg) scaleX(1);
    }
    100% {
      transform: skewX(-10deg) scaleX(0.95);
    }
  }
  .ref {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 5px 8px;
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 300;
    font-family: sans-serif;
    text-decoration: none;
  }
  .ref::first-letter {
    font-size: 12px;
  }
}

.email_form {
  margin-top: 20px;
  width: 90%;
}

.modal-content .modal-header h4 {
  color: black;
}

.modal-content .modal-header {
  color: black;
}

.modal-body label {
  color: black;
}

#email-note-modal label {
  color: white;
}

#new_data_email {
  width: 100%;
}