
.wrap {
  margin: 10% auto; /* Делаем визитку по центру страницы */
  width: 1000px; /* Ширина визитки */
  height: 400px; /* Высота визитки */
  padding: 30px; /* Внутренние отступы для красоты */
  background: #FFFFFF; /* Фон визитки, в данном случае - белый */
  /*
  3 строчки ниже это тень вокруг визитки
  Каждая строчка для разных браузеров, использование этих
  строк делает тень кроссбраузерной
  */
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
  box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
  /*
  Так же 3 строчки для обеспечения кроссбраузерности
  свойства закругленных углов
  */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/*-----Стили логотипа-----*/
.wrap img {
  vertical-align: middle; /* Для отображения описания по центру от изображения */
  width: 150px;
}

/*-----Разделяющая линия-----*/
.wrap hr {
  margin-top: 220px; /* Делаем отступ сверху для линии */
}

/*-----Блок с описанием компании-----*/
.company_description {
  margin-left: 100px; /* Отступ слева(от изображения) */
  font-size: 18px; /* Размер шрифта */
  font-weight: 900; /* Жирность шрифта */
  font-style: italic; /* Наклон шрифта */
}

/*-----Блок основной информации-----*/
.main_info {
  margin-top: 20px;
}

/*-----Блок со ссылкой на сайт-----*/
.site {
  font-weight: 900;
  font-size: 30px;
}

/*-----Позиционирование блока с информацией-----*/
.info {
  float: right; /* Прижать к правому краю */
}

/*-----Стиль для увеличения текста надписи "E-mail"-----*/
.sized {
  font-size: 18px;
}