#body {
  width: 100%
}

.textBold {
  font-family: "Roboto", sans-serif;
  color: #222;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
}

.textBold a {
  //color: #222;
}

.nav-link {
  color: #0b0b0b !important;
}

.nav-link:hover {
  color: #0069d9 !important;
}

.position_nav {
  position: absolute;
  right: 300px
}