<%= render '/static_data' %>


<!--================ Subject section start =================-->
<section class="section-margin">
  <div class="container">
    <div class="section-intro text-center pb-65px">
      <h2 class="section-intro__title">Our Practice Area</h2>
      <p>Female divided bearing rule one called said Beginning set you living above saw seasons void created fruitful
        third years god.</p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <div class="card card-subject">
          <div class="card-subject__img">
            <img class="card-img rounded-0" src="../images/home/subject-1.png" alt="">
            <div class="card-subject__imgOverlay">
              <img src="../images/home/hover-icon.png" alt="">
            </div>
          </div>
          <div class="card-subject__body">
            <h3><a href="#">Employment Law</a></h3>
            <p>Dominion there fifth fowl eving heaven in life you're over us moved creepeth morn make</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <div class="card card-subject">
          <div class="card-subject__img">
            <img class="card-img rounded-0" src="../images/home/subject-2.png" alt="">
            <div class="card-subject__imgOverlay">
              <img src="../images/home/hover-icon.png" alt="">
            </div>
          </div>
          <div class="card-subject__body">
            <h3><a href="#">Personal Injury</a></h3>
            <p>Dominion there fifth fowl eving heaven in life you're over us moved creepeth morn make</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <div class="card card-subject">
          <div class="card-subject__img">
            <img class="card-img rounded-0" src="../images/home/subject-3.png" alt="">
            <div class="card-subject__imgOverlay">
              <img src="../images/home/hover-icon.png" alt="">
            </div>
          </div>
          <div class="card-subject__body">
            <h3><a href="#">Family Law</a></h3>
            <p>Dominion there fifth fowl eving heaven in life you're over us moved creepeth morn make</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <div class="card card-subject">
          <div class="card-subject__img">
            <img class="card-img rounded-0" src="../images/home/subject-4.png" alt="">
            <div class="card-subject__imgOverlay">
              <img src="../images/home/hover-icon.png" alt="">
            </div>
          </div>
          <div class="card-subject__body">
            <h3><a href="#">Bank & Financial</a></h3>
            <p>Dominion there fifth fowl eving heaven in life you're over us moved creepeth morn make</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-center mt-5 pt-xl-4">
      <a class="button" href="#">View All Practices <span class="align-middle"><i class="ti-arrow-right"></i></span></a>
    </div>
  </div>
</section>
<!--================ Subject section end =================-->
<%= render "/main_view/employees" %>
