<div id="bg_popup">
  <div id="popup">
    <div class="container ">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% build_preview_collection.each_with_index do |preview, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <div class="block_current_preview">
                <%= image_fu preview.icon, nil, class: "card-img rounded-0" %>
                <div class="block_description_preview">
                  <h2><%= preview.title %></h2>
                  <span class="testimonial__icon"><i class="ti-quote-right"></i></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </div>
</div>
