<!--================ Work Statics section start =================-->
<section>
  <div class="container static__single-position">
    <div class="row">
      <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">
        <div class="card static__single">
          <h3>35</h3>
          <h4>Dedicated Lawyer</h4>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">
        <div class="card static__single">
          <h3>1526</h3>
          <h4>Sucessful Cases</h4>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">
        <div class="card static__single">
          <h3>720</h3>
          <h4>Satisfied Client</h4>
        </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-4 mb-xl-0">
        <div class="card static__single">
          <h3>680</h3>
          <h4>Personal Cases</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ Work Statics section end =================-->