<section class="header-top d-none d-sm-block">
  <div class="container">
    <div class="d-sm-flex justify-content-between">
      <ul class="header-top__info mb-2 mb-sm-0">
        <li><a href="tel:+0175178096"><span class="align-middle"><i class="ti-mobile"></i></span>+017 517 80 96</a></li>
        <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <span class="align-middle"><i class="ti-email" aria-hidden="true"></i></span>
        </a>
        <%= render '/email_modal' %>
      </ul>
      <ul class="header-top__social">
        <li><a href="https://www.facebook.com/zaslavlrowingcanal/"><i class="ti-facebook"></i></a></li>
        <li><a href="https://instagram.com/rcoppogrebnym?igshid=vjxgo7w50og"><i class="ti-instagram"></i></a></li>
        <% ::Refinery::I18n.frontend_locales.each do |locale| %>
          <li><%= link_to locale.upcase, refinery.url_for({locale: locale}), class: "#{locale} lang_link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</section>