<section class="header-top d-none d-sm-block">
  <div class="container">
    <div class="d-sm-flex justify-content-between">
      <ul class="header-top__info mb-2 mb-sm-0">
        <li><a href="tel:+01432152323"><span class="align-middle"><i class="ti-mobile"></i></span>+014 321 523 23</a></li>
        <li><a href="mailto:info@example.com"><span class="align-middle"><i class="ti-email"></i></span>Info@example.com</a></li>
      </ul>
      <ul class="header-top__social">
        <li><a href="#"><i class="ti-facebook"></i></a></li>
        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
        <li><a href="#"><i class="ti-instagram"></i></a></li>
        <li><a href="#"><i class="ti-skype"></i></a></li>
      </ul>
    </div>
  </div>
</section>